doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title Portfolio | Shivansh Srivastava
  link(rel='icon' type='image/x-icon' href='assets/img/SS.jpg')
  // Font Awesome icons (free version)
  script(src='https://use.fontawesome.com/releases/v6.1.0/js/all.js' crossorigin='anonymous')
  // Google fonts
  link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i' rel='stylesheet' type='text/css')
  // Core theme CSS (includes Bootstrap)
  link(href='css/styles.css' rel='stylesheet')
// Navigation
nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
  a.navbar-brand.js-scroll-trigger(href='#page-top')
    span.d-block.d-lg-none Shivansh Srivastava
    span.d-none.d-lg-block
      img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/Shivansh_passport-violetbg.jpeg' alt='...')
  button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarResponsive.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item
        a.nav-link.js-scroll-trigger(href='#about') About
      li.nav-item
        a.nav-link.js-scroll-trigger(href='#works') Works &amp; Projects
      li.nav-item
        a.nav-link.js-scroll-trigger(href='#education') Education
      li.nav-item
        a.nav-link.js-scroll-trigger(href='#skills') Skills
      li.nav-item
        a.nav-link.js-scroll-trigger(href='#interests') Interests
      // <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#achievements">Achievements</a></li>
// Page Content
.container-fluid.p-0
  // About
  section#about.resume-section
    .resume-section-content
      h1.mb-0
        | Shivansh
        span.text-primary Srivastava
      .subheading.mb-5
        | Aspiring web developer &middot; Lucknow, UP, India - 226018
      p.lead.mb-5
        | I am upgrowing web developer currently thriving on MERN stack. Stepping up with Javascript as my key language while having Java, C++ &amp; C in bag too. Alongside web-dev, I have keen grip on DSA, Problem Solving and enthusiasm in digital designing.
      .subheading.mb-5
        | How to connect me &nbsp;
        i.fas.fa-angle-right
      .social-icons
        a.social-icon(href='https://linkedin.com/in/shivansh-srivastava19' target='__blank')
          i.fab.fa-linkedin-in
        a.social-icon(href='https://github.com/th3qui85ly' target='__blank')
          i.fab.fa-github
        a.social-icon(href='https://twitter.com/th3qui85ly' target='__blank')
          i.fab.fa-twitter
        a.social-icon(href='https://facebook.com/th3qui85ly' target='__blank')
          i.fab.fa-facebook-f
        a.social-icon(href='mailto:shivansh.srivastava1912@gmail.com')
          i.fa-solid.fa-at
        a.social-icon(href='https://drive.google.com/file/d/1BCdLMXpdHGyKovUEL2-ytW6SlnyLFoXl/view?usp=sharing' target='__blank')
          i.fa-solid.fa-file(alt='Resume')
  hr.m-0
  // Experience
  section#works.resume-section
    .resume-section-content
      h2.mb-5 Works &amp; Projects
      .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
        .flex-grow-1
          h3.mb-0 Pharmeasy - Clone
          .subheading.mb-3
            a(href='https://github.com/th3qui85ly/pharmeasy-clone.git' target='__blank') Github
          p
            | A clone for pharmeasy.in build using HTML, CSS and JS. An interactive layouting with some necessary pointers like auto loading search results, item search, cart, were presented in the project.
        .flex-shrink-0
          span.text-primary February 2022
      .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
        .flex-grow-1
          h3.mb-0 ExcelJEE - Online Coaching Web-app
          .subheading.mb-3
            a(href='https://github.com/th3qui85ly/exceljee.git' target='__blank') Github
            a(href='https://exceljee-app.herokuapp.com/' target='__blank') Project
          p
            | Online Coaching System alike web-app build using HTML, CSS, EJS, Nodejs, Express, MongoDB and Heroku. Project facilitates rich features like online zoom meetings, time-table, downloadable notes &amp; pdfs, user/admin/teacher dashboard.
        .flex-shrink-0
          span.text-primary April 2021 - June 2021
      .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
        .flex-grow-1
          h3.mb-0 Covid website
          .subheading.mb-3
            a(href='https://github.com/th3qui85ly/covid.git' target='__blank') Github
            a(href='https://th3qui85ly.github.io/covid/' target='__blank') Project
          p
            | A simple covid tracker and awareness static website for quick information like total number of cases, active, and deceased. Emergency numbers and precaution measures. The site is built using HTML, CSS and Javascript.
        .flex-shrink-0
          span.text-primary September 2020
      .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
        .flex-grow-1
          h3.mb-0 Simple Arithmetic Calculator using React
          .subheading.mb-3
            a(href='https://github.com/react-calc-app' target='__blank') Github
            a(href='th3qui85ly.github.io/react-calc-app/' target='__blank') Project
          p
            | A simple arithmetic calculator build using React.js with functionalities like recent history, calculations of number length upto 9 digits.
        .flex-shrink-0
          span.text-primary September 2020
      //
        <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="flex-grow-1">
        <h3 class="mb-0">Web Design Intern</h3>
        <div class="subheading mb-3">Shout! Media Productions</div>
        <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">September 2008 - June 2010</span></div>
        </div>
  hr.m-0
  // Education
  section#education.resume-section
    .resume-section-content
      h2.mb-5 Education
      .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
        .flex-grow-1
          h3.mb-0
            a(href='https://masaischool.com/') Masai School
          .subheading.mb-3 Part-time Web Dev
          div Full Stack Web Development using MERN
          // <p></p>
        .flex-shrink-0
          span.text-primary September 2021 - Present
      .d-flex.flex-column.flex-md-row.justify-content-between
        .flex-grow-1
          h3.mb-0
            a(href='http://npgc.in/') National Post Graduate College, Lucknow
          .subheading.mb-3 Bachelor of Computer Applications
          p GPA: 6.60
        .flex-shrink-0
          span.text-primary July 2018- August 2021
  hr.m-0
  // Skills
  section#skills.resume-section
    .resume-section-content
      h2.mb-5 Skills
      .subheading.mb-3 Programming Languages &amp; Tools
      ul.list-inline.dev-icons
        li.list-inline-item
          i.fab.fa-html5
        li.list-inline-item
          i.fab.fa-css3-alt
        li.list-inline-item
          i.fab.fa-js-square
        li.list-inline-item
          i.fab.fa-react
        li.list-inline-item
          i.fab.fa-node-js
        li.list-inline-item
          i.fab.fa-git
        li.list-inline-item
          i.fab.fa-npm
      .subheading.mb-3 Soft-skills
      ul.fa-ul.mb-0
        li
          span.fa-li
            i.fas.fa-angle-right
          |                             Communicative ease
        li
          span.fa-li
            i.fas.fa-angle-right
          |                             Team participation at best
        li
          span.fa-li
            i.fas.fa-angle-right
          |                             High cognitive performance
        li
          span.fa-li
            i.fas.fa-angle-right
          |                             Quick utilization of previous experiences
        li
          span.fa-li
            i.fas.fa-angle-right
          |                             Proactive and Consistent
  hr.m-0
  // Interests
  section#interests.resume-section
    .resume-section-content
      h2.mb-5 Interests
      p
        | Apart from being a web development enthusiast, I enjoy most of my time reading and exploring stuffs. I love being in nature and getting more in touch with peace.
      p.mb-0
        | When forced indoors, I follow a number of sci-fi and fantasy genre movies and OTT shows, I love writing sometimes, and I spend a large amount of my free time exploring the latest technology advancements in the web development &amp; computer science world.
  hr.m-0
  // Awards
  //
    <section class="resume-section" id="achievements">
    <div class="resume-section-content">
    <h2 class="mb-5">Awards & Certifications</h2>
    <ul class="fa-ul mb-0">
    <li>
    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
    Google Analytics Certified Developer
    </li>
    <li>
    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
    Mobile Web Specialist - Google Certification
    </li>
    <li>
    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
    1
    <sup>st</sup>
    Place - University of Colorado Boulder - Emerging Tech Competition 2009
    </li>
    <li>
    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
    1
    <sup>st</sup>
    Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
    </li>
    <li>
    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
    2
    <sup>nd</sup>
    Place - University of Colorado Boulder - Emerging Tech Competition 2008
    </li>
    <li>
    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
    1
    <sup>st</sup>
    Place - James Buchanan High School - Hackathon 2006
    </li>
    <li>
    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
    3
    <sup>rd</sup>
    Place - James Buchanan High School - Hackathon 2005
    </li>
    </ul>
    </div>
    </section>
// Bootstrap core JS
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')
// Core theme JS
script(src='js/scripts.js')
